@import "tailwindcss";

@theme {
  --color-brand-primary: #050A22;
  --color-brand-secondary: #0A1238;
  --color-brand-dark: #1B1F3B;
  --color-brand-darker: #161A2D;
  --color-brand-deep: #12182B;
  --color-brand-muted: #2a2f55;
  --color-accent-light: #DCE6FF;
  --color-accent: #1D4ED8;
  --color-sidebar-active: #E2E8F0;
  --color-surface-login: #F5F2EC;
  --color-surface-invoice: #F8F9FB;
  --color-surface-navbar: #FAFAFA;
  --color-text-page-title: #0F172A;
  --color-text-table: #1F2937;
}